STAGE=local
AWS_REGION=us-east-1

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
LOCALSTACK_ENDPOINT=http://localhost:4566
LOCALSTACK_AUTH_TOKEN=

DB_PE_HOST=mysql_pe
DB_PE_PORT=3306
DB_PE_USER=appointment_user
DB_PE_PASSWORD=appointment_pass
DB_PE_NAME=appointments_pe

DB_CL_HOST=mysql_cl
DB_CL_PORT=3306
DB_CL_USER=appointment_user
DB_CL_PASSWORD=appointment_pass
DB_CL_NAME=appointments_cl

VPC_SECURITY_GROUP_ID=
VPC_SUBNET_ID_A=
VPC_SUBNET_ID_B=
